.certificate-container {
  padding: 60px 20px;
  min-height: 50vh;
  width: 100%;
}

.certificate-grid {

  display: flex;
  gap: 100px;
  animation: scrollLeftToRight 20s linear infinite;
  width: max-content;
  padding-left: 100%;
}

.certificate-grid img {
  width: 300px;
  height: auto;
  border-radius: 12px;
  background: #badce8;
  box-shadow: 0 0 25px #5f88db;
  transition: transform 0.3s ease;
  animation: fadeUp 0.6s ease forwards;
  opacity: 0;
  margin: 0; /* Removed margin to avoid gaps */
  display: block; /* Removes any extra spacing below images */
}

.certificate-grid img:hover {
  transform: scale(1.02);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scrollLeftToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}